li{
    margin: 1px;
    padding: 8px;
    background-color: teal;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 10px;
    display: grid;
    grid-template-columns: auto 20rem auto;
    justify-items: center;
    align-items: center;
    color: whitesmoke;
}

li input{
    height: 4em;
    width: 2em;
}

li input:checked + p{
    text-decoration-line: line-through;
    color: crimson;
}

p{
    font-size: larger;
}

.btnDelete{
    background-color: #e43333f6;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    align-self: center;
    padding: 0px;
}

.trashCan{
    height: 25px;
}